body {
  height: 100%;
  margin: 0;
}
#header {
  position: relative;
  padding-top: 2;
  padding-bottom: 3;
  height: 6%;
}
#title {
  position: absolute;
  width: 100%;
  text-align: center;
  color: rgb(255, 246, 77);
  overflow: hidden;
}
h2 {
  margin: 0 0 0 0;
}
#auth {
    position: absolute;
    top: 0;
    right: 25;
    padding-top: 5;
    height: 18;
    width: 20;
}
#login{
  position: absolute;
  height: 100%;
  width: 100%;
  margin: 0 0 0 0;
  opacity: 0.5;
}
#login:hover{
  opacity: 1;
  cursor: pointer;
}
#root {
  position: relative;
  height:92.5%;
  width: 100%;
}
#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; 
}
.mapboxgl-ctrl-bottom-left {
  display: none !important;
}
.mapboxgl-ctrl-bottom-right {
  display: none !important;
}
#tower{
  background-size: 110%;
  height: 60;
  width: 55;
}
body {
    background-color: rgb(0, 0, 0);
  }
#left-sidebar {
  position: absolute;
  left: 0;
  top: 20;
  left: 10;
}
#right-sidebar {
  position: absolute;  
  bottom: 0;
  right: 0;
  height: 100%;
  width: 20%;
  background-color: black;
  z-index: 1;
}

#image_box{
  display: block;
  padding-top: 5;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  width: 90%;
  aspect-ratio: 1/1;
  transition: transform 180ms ease-in-out;
}
#image_box:hover{
  cursor: pointer;
  transform: scale(1.1);
}
#image_box:active {
  animation-name: click-animation;
  animation-duration: 0.17s;
}
@keyframes click-animation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}
#feature_title{
  text-align: center;
  color: #dedede;
  word-wrap: break-word;
}
#info_box{
  color: #dedede;
  padding-left: 5;
  word-wrap: break-word;
}
#directions_button {
  position: absolute;
  bottom: 10px;
  background-color: transparent;
  border: 1px solid #dedede;
  border-radius: .5rem;
  box-sizing: border-box;
  color:  #dedede;
  font-size: .84rem;
  text-align: center;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-left: 5px;
}

#directions_button:hover {
  background-color: #dedede;
  color: black;
}

.popup .mapboxgl-popup-content{
  background-color: black;
  padding: 5px;
}
.popup .mapboxgl-popup-content img{
  border-radius: 5px;
}
.mapboxgl-popup-anchor-left .mapboxgl-popup-tip{
  border-right-color: black;
}
.mapboxgl-popup-anchor-right .mapboxgl-popup-tip{
  border-left-color: black;
}
.mapboxgl-popup-anchor-top .mapboxgl-popup-tip{
  border-bottom-color: black;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip{
  border-top-color: black;
}

.button {
  align-items: center;
  appearance: none;
  background-color: black;
  border: 1px solid transparent;
  border-radius: 24px;
  color: rgb(255, 246, 77);
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-size: 14px;
  font-weight: 500;
  height: auto;
  width: 75px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 5px 24px 5px 24px;
  margin-bottom: 5px;
  position: relative;
  top: 10px;
  left: 10px;
  text-align: center;
  text-transform: none;
  word-wrap: break-word;
  transition: box-shadow 180ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform,opacity;
}

.button:not(:disabled):hover {
  box-shadow: rgba(255, 245, 56, 0.3) 0 2px 3px 0, rgba(255, 245, 56, 0.3) 0 6px 10px 4px;
}

.button:disabled{
  border: 1px solid rgb(255, 246, 77);
}

#hd_box{
  position: absolute;
  background-color: transparent;
  left:90;
  right: 100;
  top:20;
  height: 80%;
  width: 65%;
  display: flex;  
  align-items: center;
  justify-content: center;
}

#hd_img{
  height: auto;
  width: auto;
  background-color: black;
  padding: 40;
}
.bracket{
  margin-left: 20;
  background-color: transparent;
  height: 10%;
  width: 6%;
  transition: transform 180ms ease-in-out;
}
.bracket:hover {
  cursor: pointer;
  transform: scale(1.2);
}
#quit{
  position:absolute;
  bottom: -60px;
  height: 16%;
  width: 9%;
  transition: transform 180ms ease-in-out;
}
#quit:hover{
  cursor: pointer;
  transform: scale(1.2);
}